.productBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 830px;

  &:not(.pageList) {
    align-items: start;
  }
}

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  font-size: 17px;
  font-weight: 600;
  width: 830px;
  height: 3em;
  background-color: #ffffff;
  border: 1px solid #76ab665e;
  border-radius: 10px;
  line-height: 100%;
  color: #b3adad;

  p {
    color: #828282;
    border-right: 1px solid #76ab665e;
  }

  :global {
    button {
      color: rgb(0, 0, 0);
      opacity: 0.3;
      transition: 0.15s ease-in-out;
      font-weight: inherit;

      &:hover {
        opacity: 0.5;
      }

      &.active {
        color: rgba(0, 0, 0, 0.546);
        opacity: 1;
        transform: scale(1.02);
      }
    }
  }
}

#productsContainer {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.pageList {
  margin-top: 40px;
  display: flex;
  gap: 0 10px;

  :global {
    button {
      width: 45px;
      height: 45px;
      transition: 0.2s ease-in-out;
      font-size: 18px;
      color: #619f4f;
      border: 2px solid rgb(190, 190, 190);
      border-radius: 12px;

      &.active {
        background-color: #b8daae;
        transform: scale(1.1);
      }

      &:hover {
        background-color: #bcf5aa;
        transform: scale(1.05);
      }
    }
  }
}
