.productBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 830px;

  &:not(.pageList) {
    align-items: start;
  }
}

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;

  font-size: 17px;
  font-weight: 600;
  width: 830px;

  background-color: #ffffff;
  border: 1px solid #76ab665e;
  border-radius: 10px;
  line-height: 100%;
  color: #b3adad;

  p {
    color: #525252;

    padding: 1em 10px 1em 0;
    border-right: 1px solid #76ab665e;
  }

  :global {
    button {
      padding: 1em 0;
      color: rgb(0, 0, 0);
      opacity: 0.4;
      transition: 0.15s ease-in-out;
      font-weight: bold;

      &:hover {
        opacity: 0.7;
        transform: scale(1.01);
      }

      &:focus {
        opacity: 0.7;
        transform: scale(1.01);
      }

      &.active {
        color: rgba(0, 0, 0, 0.684);
        opacity: 1;
        transform: scale(1.02);
        text-decoration: underline;
      }
    }
  }
}

#productsContainer {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .error {
    display: flex;
    justify-content: center;

    width: 100%;

    margin-top: 100px;

    font-size: 24px;
    font-weight: bold;
  }
}

.pageList {
  margin-top: 40px;
  display: flex;
  gap: 0 10px;

  :global {
    button {
      width: 45px;
      height: 45px;
      transition: 0.2s ease-in-out;
      font-size: 18px;
      color: #619f4f;
      border: 2px solid rgb(190, 190, 190);
      border-radius: 12px;

      &.active {
        background-color: #b8daae;
        transform: scale(1.1);
      }

      &:hover {
        background-color: #bcf5aa;
        transform: scale(1.05);
      }
    }
  }
}
