.productBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 830px;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  height: 3em;
  background-color: #ffffff1a;
  border: 1px solid rgba(62, 57, 57, 0.339);
  border-radius: 10px;
  line-height: 100%;
  color: #b3adad;

  p {
    color: #828282;
  }

  :global {
    button {
      color: black;
      opacity: 0.3;
      transition: 0.15s ease-in-out;
      font-weight: inherit;

      &:hover {
        opacity: 0.5;
      }

      &.active {
        opacity: 1;
        transform: scale(1.03);
      }
    }
  }
}

#productsContainer {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.showMore {
  margin-top: 50px;
  transition: 0.3s ease-in-out;
  font-size: 18px;
  color: #6aae55;
  border-bottom: 1px dashed;

  &:hover {
    transform: scale(1.1);
  }
}
