#PhotoReviewsPage {
  .photoReviewsBlock {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    > div {
      background-color: white;
      border-radius: 10px;
      padding: clamp(10px, 3vw, 30px);
    }

    .loading {
      text-align: center;
      font-size: 28px;
      font-weight: bold;

      padding: 70px 0;
    }
  }

  @media (max-width: 500px) {
    .reviewer {
      flex-direction: column;
      align-items: start !important;
      gap: 10px;
    }
  }
}
