html,
body {
  scrollbar-gutter: stable;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #5b4a58;

  a,
  p {
    color: #5b4a58;
  }

  &::-webkit-scrollbar {
    background-color: #5b4a58;
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: #d5cad3;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5b4a58ec;
    border-radius: 6px;
  }
}

:root {
  --background-nav: #4d414b;
  --nav-menu-height: clamp(60px, 10vw, 90px);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.pageName {
  div {
    user-select: none;
    padding-top: clamp(10px, 2vw, 33px);

    font-size: 16px;
    color: #00000069;

    > a {
      color: #00000069;

      transition: 0.3s ease-in-out;
      &:hover {
        color: #000000;
      }
    }
  }

  h3 {
    margin-top: clamp(10px, 1.5vw, 35px);

    font-family: "Bubblegum Sans", cursive;
    font-size: 26px;
    text-transform: uppercase;
  }
}

.sendForm {
  width: 222px;
  height: 40px;

  border-radius: 5px;
  background-color: #6aae55;
  color: white;
  text-align: center;
  opacity: 1;

  transition: 0.2s ease-in-out;

  user-select: none;

  &:hover {
    background-color: #518442;
    transform: scale(1.03);
  }

  &:active {
    transition: 0s;
    background-color: rgba(86, 188, 55, 0.7);
    transform: scale(1.02);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

.pageList {
  margin-top: 40px;
  display: flex;
  gap: 0 10px;

  > button {
    width: 45px;
    height: 45px;
    transition: 0.2s ease-in-out;
    font-size: 18px;
    color: #619f4f;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 12px;

    &.active {
      background-color: #b8daae;
      transform: scale(1.1);
    }

    &:hover {
      background-color: #bcf5aa;
      transform: scale(1.05);
    }
  }
}

button:disabled {
  cursor: none;
  opacity: 0.4;
}

.sectionBack {
  background-color: #efeff0;
  margin-top: var(--nav-menu-height);
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
  height: 40px;
  color: #5b4a58;
  font-weight: bold;

  padding-left: 13px;
  resize: none;

  font-size: clamp(16px, 3vw, 18px);

  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #fafafa;

  transition: 0.3s ease-in-out;

  &:focus {
    box-shadow: 0 2px 13px 0 rgba(40, 40, 40, 0.4);
  }

  &:invalid {
    border: 2px solid rgba(255, 0, 0, 0.5);
  }

  &:focus:required {
    border: 2px solid rgba(18, 155, 37, 0.5);
  }

  &:focus:invalid {
    border: 1px solid #e0e0e0;
  }

  &::placeholder {
    font-size: clamp(14px, 3vw, 18px);

    color: #bdbdbd;
    opacity: 0.7;
  }
}

textarea {
  padding-top: 10px;
}

input[type="radio"] {
  display: none;

  + label {
    position: relative;
    font-size: 18px;
    color: #828282bd;
    padding-left: 33px;
    transition: 0.2s ease-in-out;
    font-weight: bold;
  }

  &:not(:checked) + label,
  &:checked + label {
    &::before,
    &::after {
      content: "";

      position: absolute;
      left: 0;
      top: calc(50% - 10px);

      width: 20px;
      height: 20px;
      transition: 0.2s ease-in-out;
    }

    &::before {
      content: url(/public/static/images/point.svg);
      opacity: 1;
    }
    &::after {
      content: url(/public/static/images/pointDis.svg);
      opacity: 1;
    }
  }

  &:not(:checked) + label {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }

  &:checked + label {
    color: #5b4a58;

    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 0;
    }
  }
}

/* ////////////// */

input[type="checkbox"] {
  display: none;

  + label {
    position: relative;
    font-size: 16px;
    color: #4f4f4f;
    padding-left: 29px;
    transition: 0.2s ease-in-out;
    font-weight: 400;
  }

  &:not(:checked) + label,
  &:checked + label {
    &::before,
    &::after {
      position: absolute;
      left: 0;
      top: calc(50% - 9px);

      width: 16px;
      height: 16px;
      transition: 0.2s ease-in-out;
    }

    &::before {
      content: url(/public/static/images/check.svg);
      opacity: 1;
    }
    &::after {
      content: url(/public/static/images/notChecked.svg);
      opacity: 1;
    }
  }

  &:not(:checked) + label {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }

  &:checked + label {
    color: #5b4a58;

    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 0;
    }
  }
}

/* Modal */

.opacity {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 95;

  width: 100%;
  height: 100%;

  opacity: 0;

  background-color: rgba(0, 0, 0, 0.9);

  animation: opening 0.2s ease-in-out both;

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    z-index: 99;

    width: clamp(300px, 90vw, 500px);
    max-height: 100%;

    border-radius: 10px;
    background-color: white;

    padding: 25px;

    text-align: center;
    font-size: clamp(16px, 3vw, 22px);
    font-weight: bold;

    img {
      width: clamp(150px, 50vw, 250px);
    }

    p {
      margin: clamp(10px, 4vw, 30px) 0;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: clamp(40px, 10vw, 50px) !important;
      font-size: clamp(16px, 4vw, 19px);
    }
  }

  .loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #599248 transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes opening {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
