.contactsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 30px 0;

  img {
    width: clamp(290px, 71vw, 825px);
    height: 400px;
    background-color: white;
    border-radius: 10px;
  }
}

.contactsInform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;

  width: 265px;

  border-radius: 10px;
  background-color: white;

  > div {
    padding: 20px 30px;
    border-bottom: 2px solid #dcdcdc;

    &:nth-child(4) {
      border-bottom: none;
    }
  }

  h5 {
    font-size: 16px;
    line-height: 120%;
    color: #828282;

    margin-bottom: 5px;
  }

  p {
    font-size: 17px;
    font-weight: bold;
    color: #5b4a58;
  }
}

.contactsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1110px;
  height: 300px;

  background-color: white;
  border-radius: 10px;

  font-size: 18px;
  font-weight: bold;

  form {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1050px;
    padding-bottom: 55px;
    margin-top: 25px;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    input {
      width: 325px;
    }

    textarea {
      width: 700px;
      height: 145px;
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
