.pageList {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 0 10px;

  > button {
    width: 45px;
    height: 45px;

    opacity: 0.6;

    font-size: 18px;
    font-weight: bold;
    color: #63a050;

    border: 2px solid #6aae55;
    border-radius: 8px;
    background-color: #eeeeee;

    transition: 0.2s ease-in-out;

    &.active {
      opacity: 1;

      color: #307c19;
      border: 3px solid #4cae2f;
      background-color: #ffffff;
      transform: scale(1.1);
    }

    &:hover {
      opacity: 1;
      transform: scale(1.05);
      background-color: #ffffff;
    }
  }

  .error {
    width: auto;
    padding: 15px 30px;

    border-radius: 10px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--background-white);
  }
}
