.form {
  display: flex;
  flex-direction: column;
  gap: 20px 0;

  padding: 40px 0;
  margin: 0 auto;

  max-width: 770px;

  > div {
    background-color: white;
    border-radius: 10px;
    padding: 20px clamp(12px, 3vw, 25px);

    h5 {
      font-size: 18px;
      font-weight: bold;

      margin-bottom: 13px;
    }
  }
}

.blockRadioInput {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
  transition: 0.2s ease-in-out !important;

  > div {
    display: flex;
  }
}

.blockInput {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;

  .inputItem,
  .textareaItem {
    display: flex;
    flex-direction: column;
    gap: 11px 0;

    p {
      font-weight: bold;
    }
  }
}

.dateAndTime {
  > div {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;

    &:last-child {
      margin-left: clamp(10px, 2vw, 25px);
      border-bottom: none;
    }
  }
}

.recipient {
  .inputItem {
    width: 300px;
  }

  .textareaItem {
    width: 100%;
    textarea {
      display: flex;
      width: 100%;
      height: 90px !important;
    }
  }
}

.yourContacts {
  .inputItem {
    width: 200px;
  }
}

.paymentMethod {
  > div {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (max-width: 740px) {
  .blockRadioInput {
    align-items: start;
    flex-direction: column;
    gap: 30px 0;
  }

  .blockInput {
    flex-direction: column;

    .inputItem {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}
