#ordersPage {
  position: relative;

  .ordersBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0;

    height: 75vh;
    padding: 0 10px 20px 0;

    overflow-y: auto;

    .gradient {
      position: absolute;

      bottom: -8px;
      left: 0;

      width: 96%;

      background: rgb(239, 239, 240);
      background: linear-gradient(
        0deg,
        rgba(239, 239, 240, 1) 30%,
        rgba(255, 255, 255, 0.1) 90%
      );
    }

    &::-webkit-scrollbar {
      background-color: var(--font-color);
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      background-color: #d5cad3;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--font-color);
      border-radius: 6px;
    }

    > div {
      display: flex;
      justify-content: space-between;

      width: 100%;
      padding: 20px;

      font-weight: bold;

      background-color: var(--white-color);
      border-radius: 10px;
    }

    .order {
      > div:last-child {
        width: 150px;

        text-align: right;
      }

      &:has(> p) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        font-size: 24px;
        font-weight: bold;
      }

      .dateOrder {
        width: 160px;

        > div {
          display: flex;
          flex-direction: column;

          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .dataOfOrder {
        .flower {
          display: flex;

          padding-bottom: 5px;
          margin-bottom: 10px;
          border-bottom: 2px solid $font-secondary-color;

          .title {
            display: flex;
            flex-direction: column;
            font-weight: bold;

            width: 265px;

            margin-right: 10px;
            padding-right: 10px;
            border-right: 2px solid $font-secondary-color;
          }

          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
          }
        }
      }

      .amountAndPrice {
        > div {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      span {
        font-size: clamp(14px, 3.5vw, 16px);
        font-weight: bold;
        color: #909090;
      }

      p {
        margin-top: 4px;
      }

      p,
      div {
        font-size: clamp(16px, 4vw, 18px);
        font-weight: bold;
        color: var(--font-color);
      }
    }

    @media (max-width: 800px) {
      .order {
        align-items: center;
        flex-direction: column;

        > div {
          border-bottom: 2px solid $font-secondary-color;
          margin-bottom: 10px;

          &:last-child {
            border: none;
            margin-bottom: 0;
          }
        }

        .dateOrder {
          display: flex;
          justify-content: space-between;

          width: 100%;

          > div:last-child {
            text-align: right;
          }
        }

        .dataOfOrder {
          width: 100%;
          .flower {
            justify-content: space-between;

            .title {
              width: 100% !important;

              & + div {
                width: 35%;
              }
            }
          }
        }

        > div:last-child {
          display: flex;
          justify-content: space-between;

          width: 100%;

          > div:first-child {
            text-align: left;
          }
        }
      }
    }

    @media (max-width: 600px) {
      .dateOrder {
        > div:last-child {
          font-size: 14px;
          width: 150px;
        }
      }

      .flower {
        flex-direction: column;

        .title {
          margin: 0 0 10px 0;
          padding-right: 0;
          border-right: none !important;

          & + div {
            display: flex;
            align-items: center;

            width: 200px !important;

            p {
              margin: 0 0 0 10px;
            }
          }
        }
      }
    }
  }
}
