.profileBlock {
  padding: 27px 0 50px 0;
  gap: 30px;

  .discountBlock,
  .aboutMeBlock {
    width: 100%;

    padding: 25px 30px;

    border-radius: 10px;
    background-color: white;
  }

  .discountBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px 0;

    .discount {
      width: 210px;

      padding: 5px 0;

      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: white;

      border-radius: 4px;
      background-color: #6aae55;
    }

    .range {
      position: relative;
      display: flex;
      align-items: center;

      width: 100%;
      height: 15px;

      margin-bottom: 40px;

      background-color: #aaaaaa;
      border-radius: 10px;

      span {
        position: absolute;

        width: 10px;
        height: 10px;
        background-color: rgb(63, 63, 63);
        border-radius: 100%;

        &::after,
        &::before {
          position: absolute;
          bottom: -20px;
          right: 0;
          display: flex;
          width: 105px;
          font-size: 12px;
          font-weight: bold;
        }

        &::before {
          bottom: -40px;
          right: 12px;
          width: 15px;
          font-size: 14px;
          font-weight: bold;
        }

        &:nth-child(1) {
          left: calc(25% - 10px);
          &::after {
            content: "от 25 000 руб. |";
            right: -6px;
          }
          &::before {
            content: "3%";
          }
        }

        &:nth-child(2) {
          left: calc(65% - 10px);
          &::after {
            content: "от 65 000 руб. |";
            right: -5px;
          }
          &::before {
            content: "5%";
          }
        }

        &:nth-child(3) {
          left: calc(100% - 12px);
          &::after {
            content: "от 100 000 руб. |";
          }
          &::before {
            content: "7%";
          }
        }
      }

      .trackSuccess {
        height: 15px;
        background-color: #6aae55;
        border-radius: 10px;
      }

      .point {
        position: absolute;
        top: 0;

        width: 15px;
        height: 15px;

        background-color: #f2994a;

        border: 2px solid white;
        border-radius: 100%;
      }
    }

    .priceBlock {
      font-size: 18px;
      font-weight: bold;

      span {
        margin-left: 7px;
        color: #6aae55;
      }
    }
  }

  .aboutMeBlock {
    > div {
      display: flex;
      justify-content: space-between;

      h4 {
        margin-bottom: 20px;

        font-size: 18px;
        font-weight: bold;
      }

      a {
        height: 20px;
      }
    }

    form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      gap: 20px;

      h5 {
        margin-left: 5px;
      }

      input {
        margin-top: 10px;
        width: clamp(250px, 80vw, 350px);
      }
    }
  }
}
