.leaveReview {
  display: flex;
  flex-direction: column;
  gap: 20px 0;

  > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;

    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  form {
    .inputBlock {
      display: flex;
      gap: 10px;

      height: 170px;

      margin-bottom: 20px;

      .inputFile {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px 0;

        text-align: center;

        min-width: 230px;
        height: 100%;

        border: 2px solid #e0e0e0;
        border-radius: 5px;

        p {
          font-size: 15px;
          color: #bdbdbd;
        }

        .previewPhoto {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          object-fit: scale-down;
        }

        input[type="file"] {
          opacity: 0;
          visibility: hidden;

          width: 0px;
          height: 0px;
        }
      }

      textarea {
        margin-bottom: 20px;

        width: 100%;
        height: 100%;
      }
    }
  }

  .sendReviews {
    display: flex;
    justify-content: center;
    gap: 30px 40px;
    align-items: center;
    flex-wrap: wrap;

    > div {
      display: flex;
      align-items: center;

      p {
        font-weight: bold;
        font-size: 17px;

        margin-right: 15px;
      }

      > div {
        display: flex;
        gap: 0 4px;

        cursor: pointer;
      }
    }
  }

  @media (max-width: 500px) {
    .sendReviews {
      > div {
        flex-direction: column;
        gap: 10px 0;
      }
    }
  }
}
