header {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 80;

  display: flex;

  width: 100vw;
  height: var(--nav-menu-height);

  border-bottom: 1px solid #e0e0e0;

  background-color: var(--background-white) !important;

  .burgerMenu {
    position: absolute;
    left: 15px;
    top: calc(var(--nav-menu-height) - 50% - 20px);

    display: none;
  }

  .navbar {
    display: flex;

    .logo {
      width: 85px;
    }

    > div {
      display: flex;

      > a,
      .infoForClient div {
        display: flex;
        align-items: center;

        height: var(--nav-menu-height);

        font-size: clamp(15px, 1.3vw, 16px);

        padding: 20px;

        transition: 0.1s ease-in-out;
      }

      .cart {
        width: 90px;

        p {
          margin-left: 9px;
        }
      }

      .infoForClient {
        position: relative;

        display: flex;

        > div {
          z-index: 10;
          cursor: pointer;
        }

        .infoList {
          opacity: 0;
          visibility: hidden;

          position: absolute;

          z-index: 5;

          transform: translateY(-20px);

          width: 320px;

          border: 1px solid #e0e0e0;
          background-color: white;

          transition: 0.15s ease-in-out;

          li {
            border-top: 1px solid #5b4a582e;

            &:first-child {
              border-top: none;
            }

            a {
              display: flex;
              align-items: center;

              width: 100%;
              height: 35px;

              padding: 0 10px;

              font-size: clamp(13px, 4vw, 14px);
              transform: none;

              transition: 0.1s ease-in-out;

              &:hover {
                background-color: rgb(245, 245, 245);
              }
            }
          }
        }

        &.active {
          .infoList {
            opacity: 1;
            visibility: visible;

            transform: translateY(var(--nav-menu-height));
          }
        }
      }

      @media (hover: hover) and (pointer: fine) {
        a:hover {
          transform: scale(1.04);
        }

        .infoForClient div:hover {
          transform: scale(1.02);
        }
      }
    }

    div,
    a {
      font-size: 16px;
      letter-spacing: 0.8px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  @media (max-width: 1080px) {
    background: url(/images/logo.svg) no-repeat center center;
    background-size: clamp(60px, 10vw, 90px);

    .burgerMenu {
      display: flex;
    }

    .burgerMenu.active ~ nav {
      transform: translateX(0%);
    }

    .navbar {
      position: absolute;
      top: 100%;
      left: 0;

      overflow-y: auto;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0;

      width: 100%;
      height: calc(100.5dvh - var(--nav-menu-height));

      transition: 0.2s ease-in-out;
      transform: translateX(-100%);

      background-color: var(--background-white);

      .logo {
        display: none;
      }

      > div {
        display: flex;
        flex-direction: column;

        width: 100%;

        > a,
        > div {
          width: 100% !important;
          padding: 20px;

          border-top: 1px solid #5b4a5850;
        }

        a {
          &:first-child {
            padding-left: 20px;
          }
        }
      }

      .infoForClient {
        padding: 0;

        > div {
          width: inherit;
          padding: 20px !important;

          background-color: white;
        }

        .infoList {
          width: 100% !important;

          border: 1px solid #5b4a5850 !important;

          li {
            a {
              padding-left: 30px !important;
            }
          }
        }

        &.active {
          height: calc(var(--nav-menu-height) + 181px);

          .infoList {
            height: 181px;
            border: none;
            border-radius: 0px;
          }
        }
      }

      > div {
        > a,
        .infoForClient div {
          font-size: clamp(15px, 4vw, 18px);
        }
      }

      .cart {
        border-bottom: 1px solid #5b4a5850;
      }

      .profile {
        border-top: 1px solid #5b4a5850;

        img {
          display: none;
        }

        &::after {
          content: "профиль";
        }
      }
    }
  }
}
