.product {
  transition: 0.3s ease-in-out;
  transform: translateY(0px);
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #6aae5575;
  display: inline-block;
  max-width: 263px;

  > div {
    padding: 20px;
  }

  &:hover {
    transform: translateY(-7px);
    box-shadow: 0px 9px 14px 1px rgba(106, 174, 85, 0.7);
  }

  img {
    border-radius: 10px;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #5b4a58;
  }
}

.price {
  display: flex;
  column-gap: 10px;
  margin: 16px 0 20px 0;
  align-items: center;

  p:nth-child(1) {
    font-size: 14px;
    color: #828282;
    font-weight: 500;
  }

  span {
    font-weight: 500;
    color: #5b4a58;
    font-size: 18px;
  }
}

.addToCart {
  transition: 0.2s ease-in-out;
  text-align: center;
  background-color: #6aae55;
  border-radius: 10px;
  padding: 9px 0;
  width: 100%;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;

  &:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
  }
}
