.review {
  padding-bottom: 20px;
  margin-bottom: 20px;

  border-bottom: 1px solid $border-secondary-color;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .reviewer {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;

    div:first-child {
      p {
        font-size: clamp(15px, 2.5vw, 18px);
        font-weight: bold;
        color: var(--accent-color);
      }
      span {
        color: var(--font-secondary-color);
        font-size: clamp(13px, 2vw, 16px);
        font-weight: 400;

        margin-right: 12px;
      }
    }

    div:last-child {
      top: 7px;
      right: -4px;
      left: auto;
      bottom: auto;

      background-color: none;
      border-radius: none;
    }
  }

  .reviewText {
    p {
      color: var(--font-review-color);
      font-size: clamp(15px, 2.5vw, 18px);
      font-weight: bold;
    }
  }
}
