#description {
  padding: 50px 0;
}

.descriptionBlock {
  p {
    font-family: "Montserrat", sans-serif !important;
    color: var(--font-color-two);
    font-size: clamp(16px, 3vw, 19px);
    line-height: 30.5px;
    font-weight: 600;
  }
}
