.readMore {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px 0;

  width: 100%;

  &:has(button) {
    align-items: center;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 25px;

    font-size: 14px;
    font-weight: bold;
  }
}
