#advantages {
  width: 100%;

  background-color: var(--white-color);

  .advantagesBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    text-align: center;

    padding: clamp(50px, 7vw, 100px) 0;

    div {
      width: 215px;

      img {
        width: 155px;
        height: 155px;
      }

      p {
        margin-top: 10px;

        text-align: center;

        color: var(--font-color);
        text-align: center;
        font-size: 18px;
        font-weight: bold;

        span {
          color: var(--accent-color);
        }
      }
    }
  }
  @media (max-width: 920px) {
    .advantages {
      flex-direction: column;
      align-items: center;
    }
  }
}
