.advantages {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: clamp(50px, 7vw, 100px) 0;

  div {
    width: 215px;

    img {
      width: 155px;
      height: 155px;
    }

    p {
      margin-top: 10px;

      text-align: center;

      color: #5b4a58;
      text-align: center;
      font-size: 18px;
      font-weight: bold;

      span {
        color: #6aae55;
      }
    }
  }
}

@media (max-width: 920px) {
  .advantages {
    flex-direction: column;
    align-items: center;
  }
}
