#textReviewsPage {
  .textReviewsBlock {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    > div {
      background-color: white;
      border-radius: 10px;
      padding: clamp(10px, 3vw, 30px);
    }

    .loading {
      text-align: center;
      font-size: 28px;
      font-weight: bold;

      padding: 70px 0;
    }
  }

  .leaveReview {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    form {
      textarea {
        margin-bottom: 20px;

        width: 100%;
        height: 100px;
      }
    }

    .sendReviews {
      display: flex;
      justify-content: center;
      gap: 30px 40px;
      align-items: center;
      flex-wrap: wrap;

      > div {
        display: flex;
        align-items: center;

        p {
          font-weight: bold;
          font-size: 17px;

          margin-right: 15px;
        }

        > div {
          display: flex;
          gap: 0 4px;

          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .reviewer {
      flex-direction: column;
      align-items: start !important;
      gap: 10px;
    }

    .sendReviews {
      > div {
        flex-direction: column;
      }
    }
  }
}
